.DS_Store
newsapp/__pycache__/*
*~
.envrc
.cache/
*.pyc
build-image.sh
requirements.txt
newsapp/.ropeproject/*
*.conf
newsfrt/resources/public/bak
newsfrt/resources/public/js/compiled/out
newsfrt/resources/public/js/compiled/test
newsfrt/resources/public/js/compiled/json
.pytest_cache/
.ropeproject/
Dockerfile1
newsapp.old
nzdb.egg-info/
app/static/*.png
app/static/*.ico
app/static/
newsfrt/resources/public/vendor/