body {
    background-color: lightyellow;
}

.statusslug {
    border-left: 2px solid lightblue;
    background-color: lightblue;
    font-size: 80%;
    text-align: left;
    vertical-align: bottom;
    color: red;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 5px;
    border-bottom: none;
    padding-left: 3px;
}

.statustext {
    border: 2px solid lightblue;
    background-color: white;
    border-top: none;
    border-radius: 5px;
    padding-left: 4px;
    margin-left: 4px;
    margin-right: 3px;
    font-size: 110%;
}

.statustext>span>a {
    color: red;
    // font-size: 150%;
}

.statusheader {
    border: 2px solid lightblue;
    background-color: lavender;
    border-radius: 5px
}

.calendar {
    background-color: lavender;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid red;
    border-radius: 5px;
}

#custquery {
    width: 50%;
}

.errorbox {
    color: red;
    background-color: yellow;
}


.tpc {
    font-size: 110%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 3px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: rgb(194, 209, 240)
}

.cat {
    font-size: 130%;
    font-style: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 3px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: rgb(153, 153, 255)
}

.activecat, .activetpc {background-color: rgb(217, 169, 64)}

.cat:hover, .tpc:hover {
    background-color: yellow
}

.stat {
    background-color: lavender;
    border: 1px solid red;
    margin: 2px
}

.page-header {
    padding: 1px;
    margin: 2px;
    background-color: #edebc0;
    border: solid black 1px;
}

.stat:hover {background-color: lightblue}

.pghead {color: #c66d3d; margin: 5px;}

.navbar-default .navbar-brand {
    color: #777777;
}
.navbar-default {
    font-size: 12px;
    background-color: lavender;
    /* background-color: #f8f8f8;
     background-color: rgba(248, 248, 248, 1); */
    border-width: 1px;
    border-radius: 4px;
}
.navbar-default .navbar-nav>li>a {
    color: #777777;
    color: rgba(119, 119, 119, 1);
    background-color: #f8f8f8;
    background-color: rgba(248, 248, 248, 0);

}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #333333;
    color: rgba(51, 51, 51, 1);
    background-color: #f8f8f8;
    background-color: rgba(248, 248, 248, 0);
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: red;
    background-color: blue;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: blue; /*#ddd;*/
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}

/* siebar below here*/

.advmain {
    padding-left: 10px;
    background-color: #edebc0;
    height: calc(100vh * 0.5);
    overflow: scroll;
    border: solid black;
    border-width: 1px;
}

.advtopicrow, .advcatrow {
    padding-left: 10px;
}

.statusbox {
    background-color: #ffffcc;
    height: calc(100vh * 0.8);
    overflow: auto;
    border: solid black 1px;
}

.vspacer {
    height: 10px;
}

.nav-pills > li {
    background-color: rgb(66, 166, 149);
    background-color: rgba(66, 166, 149, 0.56);
    border: 1px solid red;
    border-radius: 5px;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
}

.nav-pills > li:hover {
    background-color: yellow
}

.logicbuttons {
    top: 55%;
    left: 40%;
    width: 80%;
    height: 20%;
}

#submit {
    font-size: 150%;
    font-style: bold;
    background-color: #e1edc0;
    # height: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.pic {
    height: 80%;
    background: url('nytimes.gif') no-repeat;
    background-size: 100%;
}

.sidebar {
    height: calc(100vh * 0.5);
}
